// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #2C3E50; //grey
$theme-success: #000000; //black

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);
